.container {
  gap: 14px;
}

.title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.5px;
}

.method {
  color: #beb458;
}

.service {
  color: #525252;
}

.titleContainer {
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
}
