.container {
  width: 56px;
  height: 56px;
  border-radius: 50px;
  background-color: #282828;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 1;
  right: 14px;
  bottom: 14px;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 32px;
  height: 32px;
}
